// converting mouse cursor to pointer on hovering over button
.button2 {
    color:rgb(62, 186, 190);
      cursor: pointer;
}
.button1{
    color:rgb(62, 186, 190);
    cursor: pointer;
    margin-left: 41%;
}
.container {
    width:100%;
   height: 200px;
   overflow:hidden ;

}
.container ul{
    list-style: none;
    width: 100%;
    height: 200px;
    padding: 0;
    position: relative;
   }
.container ul li{
  
    width: 15%;
    height:200px;
    line-height: 200px;
    float:left;
    margin:2px;
    border: 10px 10px 10px 10px;
    border-color: darkblue;
    background-color: cadetblue;
    text-align: center;
}
